* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  justify-self: center;
  align-self: center;
  padding: 50px;
  font-size: 1.5rem;
}

main.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  grid-template-rows: repeat(auto-fit, minmax(100px, 150px));
  gap: 10px;
}

.book {
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
}

.books button.add {
 font-size: 2.5rem; 
}

main dialog {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 40%;
}

