* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

main.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  gap: 10px;
}

.book {
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
}

.books button.add {
 font-size: 2.5rem; 
}

main dialog {
  width: 20vw;
  position: absolute;
  top: 50%;
  left: 40%;
}

